@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bitcount+Grid+Double:wght@100..900&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Mona Sans';
}

:root {
  
  --color-blue: #36ffff;
  --color-blue2: #007bff;       
  --color-yellow: gold;     
  --color-blueDark: #1a1423;
  --color-blueDark2: #0A091B;
  --color-gray: #7b7194;
  --color-green: #70e000;      
  --color-white: white;      
  --color-red: #FF4500;   
  --color-purple: #6f42c1; 
  --color-rose: #FF6EC7;
  --color-green-aqua: #00EA9C;
  --color-electric-yellow: linear-gradient(90deg, #FFF700, #FFD000, #FFB300);

  --box-shadow: 0 2px 0 0 rgba(150,150,150,.4),
                1px 0 0 0 rgba(150,150,150,.3),
                -1px 0 0 0 rgba(150,150,150,.3),
                0 -1px 0 0 rgba(150,150,150,.3);
  --color-background: hsl(0 0 100%);
  --color-primary: var(--color-blue);
  --color-button: var(--color-yellow);
  --color-success: var(--color-green);
  --color-error: var(--color-red);
}


body{
    height: 100vh;
    background: var(--color-background);
    overflow: hidden;
}

main{
    height: 100%;
    display: flex;
    padding: 26px 26px
}

.sidebar__container{
    width: 100px;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.sidebar__buttons ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 12px;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
}


.sidebar__buttons ul li{
    display: flex;
    gap: 8px;
    padding: 12px 12px;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    box-shadow: var(--box-shadow);
    font-weight: 400;
    border-radius: .5rem;
    cursor: pointer;
}

.sidebar__buttons ul li svg{
    cursor: pointer;
    stroke: var(--color-rose);
}


.main__dashboard{
    width: 100%;
    height: 90vh;
    border-radius: 24px;
    position: relative;
    right: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    background-color: var(--background-color);
    z-index: -1;
}


.user__space{
    width: 100%;
    height: 100%;
}

.profile__container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.user__space .profile{
    width: 270px;
    height: 22%;
    display: flex;
    border-radius: 16px;
    padding: 12px 12px;
    flex-direction: column;
    background: white;
    box-shadow: var(--box-shadow);
}

.profile__info{
    display: flex;
    align-items: center;
    gap: 16px;
}


.profile .content_container{
    display: flex;
    flex-direction: column;
}

.username__box{
    display: flex;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    align-items: center;
    padding: 8px 8px;
}

.username{
    font-size: 1rem;
    font-family: 'Urbanist';
    font-weight: 500;
    color: var(--color-blueDark);
    font-style: italic;
}

.level__user__bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 8px;
}

.level__user__bar .level__bar{
    width: 100%;
    height: 16px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.level__bar__info{
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 400;
    background: linear-gradient(2.92deg, #fb17f8,#fdc70c);
    background-clip: text;
    font-style: italic;
    -webkit-text-fill-color: transparent;
    font-family: 'Urbanist';
    color: var(--color-gray);
}


.points__container{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.points__container .points__info{
    display: flex;
    align-items: center;
    gap: 2px;
}

.points__container .points__info h3{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Urbanist';
    font-style: italic;
    color: var(--color-blueDark);
}

.points__container .points__label{
    font-size: .9rem;
    font-weight: 400;
    font-family: 'Urbanist';
    background: linear-gradient(2.92deg, #fb17f8,#fdc70c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}