@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bitcount+Grid+Double:wght@100..900&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}




:root {
  
    --color-blue: #36ffff;
    --color-blue2: #007bff;       
    --color-yellow: gold;     
    --color-blueDark: #1a1423;
    --color-blueDark2: #0A091B;
    --color-gray: #7b7194;
    --link-color: #0969da;
    --color-green: #70e000;      
    --color-white: white;      
    --color-red: #FF4500;   
    --color-purple: #6f42c1; 
    --color-rose: #FF6EC7;
    --color-green-aqua: #00EA9C;
    --color-electric-yellow: linear-gradient(90deg, #FFF700, #FFD000, #FFB300);
  
    --box-shadow: 0 2px 0 0 rgba(150,150,150,.3),
                1px 0 0 0 rgba(150,150,150,.3),
                -1px 0 0 0 rgba(150,150,150,.3),
                0 -1px 0 0 rgba(150,150,150,.3);
    --color-background: hsl(0 0 100%);
    --color-primary: var(--color-blue);
    --color-button: var(--color-yellow);
    --color-success: var(--color-green);
    --color-error: var(--color-red);
  }



  body{
    min-height: 100vh;
    position: relative;
    background-color: var(--color-background);
  }





  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
  }



  

  .container .signup__container{
    height: 350px;
    width: 350px;
    margin-top: 80px;
    position: relative;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

.errDivContainer{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--color-red);
    background-color: rgba(255, 69, 0, 0.55);
    color: var(--color-white);
    font-size: 1rem;
    border-radius: 12px;
    display: none;
    font-family: 'Urbanist';
}


.container .signup__container .login__link p{
    font-family: 'Urbanist';
    font-size: 400;
    font-size: 0.9rem;
    display: flex;
    gap: 4px;
    display: flex;
    justify-content: center;
    color: var(--color-gray);
}


.container .signup__container .login__link p a{
    color: var(--link-color);
}

.container .signup__container .login__link p a:hover{
    text-decoration: underline;
}

.container .signup__container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.container .signup__container .signup__form img{
    height: auto;
    width: 36px;
}

.container .signup__form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container .signup__form .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.container .signup__form .title h1{
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
    color: var(--color-blueDark);
    font-weight: 500;
}

.container .signup__form .title p{
    font-size: 0.9rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--color-gray);
}

.inputs__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.inputs__container .input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs__container .input input{
    padding: 12px 16px;
    border: none;
    border-radius: 12px;
    box-shadow: var(--box-shadow);

}

.inputs__container .input input::placeholder{
    font-family: 'Urbanist';
    color: rgba(150,150,150,1);
    font-size: 0.85rem;
}




.inputs__container .input label{
    font-family: 'Urbanist';
    font-weight: 500;
    font-size: 13.5px;

}


.create__account{
    width: 100%;
    margin-top: 6px;
}

.create__account .create__account__btn{
    width: 100%;
    padding: 10px 10px;
    border: none;
    background-color: var(--color-blueDark);
    color: var(--color-white);
    font-size: 0.9rem;
    font-family: 'Urbanist';
    border-radius: 12px;
    box-shadow: 0 3px 1px 0 hsla(270, 28%, 1%, 1),
              1px 0 1px 0 hsla(270, 28%, 1%, 1),
              -1px 0 1px 0 hsla(270, 28%, 1%, 1),
              0 -1px 1px 0 hsla(270, 28%, 1%, 1);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    will-change: transform, opacity; 
    font-weight: 500;
}


