@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Dancing Script', cursive;
}

:root {
  
  --color-blue: #007BFF;       
  --color-yellow: #FFD700;     
  --color-green: #32CD32;      
  --color-white: #F5F5F5;      
  --color-red: #FF4500;        
  
  
  --color-background: var(--color-white);
  --color-primary: var(--color-blue);
  --color-button: var(--color-yellow);
  --color-success: var(--color-green);
  --color-error: var(--color-red);
}



body{
  background: var(--color-white);
  position: relative;
}

body::before{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #1F51FF;
  z-index: -1;
  filter: blur(500px);
  
}



.header{
  padding: 40px 40px;
}


.header__logo .header__title {
  font-size: 4em;
  background: linear-gradient(45deg, #1F51FF, #8A2BE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

 
  text-shadow:
    2px 2px 5px rgba(31, 81, 255, 0.7),   
    -2px -2px 5px rgba(138, 43, 226, 0.7), 
    0 0 20px rgba(138, 43, 226, 0.5),      
    0 0 40px rgba(31, 81, 255, 0.3);       
}