@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Dancing Script', cursive;
}

:root {
  
  --color-blue: #007BFF;       
  --color-yellow: gold;     
  --color-grayBlack: #2E2E3A;
  --color-green: #70e000;      
  --color-white: white;      
  --color-red: #FF4500;   
  --color-purple: #6f42c1; 
  
  
  --color-background: #eaf4f4;
  --color-primary: var(--color-blue);
  --color-button: var(--color-yellow);
  --color-success: var(--color-green);
  --color-error: var(--color-red);
}



body{
    background-color: var(--color-background);
    height: 100vh;
}



.header{
  padding: 0 3rem;
  height: 80px;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: fixed;
  width: 100%;
}


.header__logo .header__title {
  font-size: 3.5em;
  color: var(--color-blue);
  background: linear-gradient(90deg, #007BFF, var(--color-green));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}




.navbar{

  height: 100%;
  
}

.nav__dropdown{
  position: relative;
}

.navbar .nav__links, #nav__link{
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: 'Raleway';
  height: 100%;
  font-size: 1em;
  color: var(--color-grayBlack);
  font-weight: bold;
}

#nav__link{
  position: relative;
}

#nav__link::after{
  content: '';
  position: absolute;
  background-color: transparent;
  border-radius: 5px;
  inset: -10px;
  z-index: -1;
  transition: .3s ease;
}

#nav__link:hover::after{
  background-color: rgba(0,0,0,.1)
}





.navbar .nav__dropdown-menu{
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  background-color: white;
  box-shadow: 0.25rem 1rem 0 #282e3e1a;
  border-radius: .5rem;
  top: 45px;
  left: 30px;
  transition: .3s ease;
}

.navbar .nav__dropdown-menu li{
  padding: 1rem 1.25rem;
  background-color: transparent;
  transition: .3s ease;
  display: flex;
  align-items: center;
  gap: 5px;

}

.navbar .nav__dropdown-menu li:nth-child(1){
  background-color: transparent;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.navbar .nav__dropdown-menu li:nth-child(1) img{
  height: auto;
  width: 30px;
}

.navbar .nav__dropdown-menu li:nth-child(2) img{
  height: auto;
  width: 30px;
}


.navbar .nav__dropdown-menu li:nth-child(1):hover{
  background-color: #282e3e1a;
}

.navbar .nav__dropdown-menu li:nth-child(2):hover{
  background-color: #282e3e1a;
}

.navbar .nav__dropdown-menu li:nth-child(3):hover{
  background-color: #282e3e1a;
}


.navbar .nav__dropdown-menu li:nth-child(4){
  background-color: transparent;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.navbar .nav__dropdown-menu li:nth-child(4):hover{
  background-color: #282e3e1a;
}

.navbar .nav__dropdown-menu .dropdown__link{
  font-family: 'Raleway';
  color: var(--color-grayBlack);
  font-size: 1.1em;
}

.nav__dropdown #nav__dropdown__link{
  font-size: 1em;
  color: var(--color-grayBlack);
  font-family: 'Raleway';
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  gap: 5px;

}

#nav__dropdown__link::after{
  content: '';
  position: absolute;
  background-color: transparent;
  border-radius: 5px;
  inset: -10px;
  z-index: -1;
  transition: .3s ease;
}

#nav__dropdown__link:hover::after{
  background-color: rgba(0,0,0,.1)
}



.nav__dropdown #nav__dropdown__link img{
  height: auto;
  display: flex;
  align-self: baseline;
  width: 15px;
  rotate: -90deg;
}





.nav__register{
  justify-self: end;
  display: flex;
  gap: 20px;
}



.nav__register .btn__1{
  font-family: 'Raleway';
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 10px 4em;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.1em;
  background: linear-gradient(90deg,var(--color-blue),var(--color-green));
  color: white;
  transition: .5s ease;
}


.homepage{
  height: 100%;
  padding-top: 80px;
}

.homepage .homepage__hero{
  height: 865px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.homepage__hero__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.homepage .homepage__title{
  font-size: 8rem;
  font-family: 'Raleway';
  color: var(--color-grayBlack);
}

.homepage .homepage__title span{
  background: linear-gradient(90deg, #007BFF, #6f42c1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage .homepage__subtitle{
  font-size: 1.7rem;
  font-family: 'Raleway';
  color: #444;
}

.homepage .homepage__button{
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 30px;
  background: linear-gradient(90deg,var(--color-blue),var(--color-purple));
  margin-top: 20px;
  color: var(--color-white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
  padding: 15px 25px;
  cursor: pointer;
}



.homepage .homepage__button a{
  font-size: 1.2em;
  font-family: 'Raleway';
  color: var(--color-white);
}



.about__hero{
  height: 100vh;
}



@media (max-width: 1750px) {
  .header{
    padding: .5em 2rem;
  }

  .header__logo .header__title{
    font-size: 3rem;
  }

  .navbar .nav__links, #nav__link{
    gap: 20px;
  }

  .nav__links li{
    padding: 0 20px;
  }

  .homepage .homepage__hero{
    height: 550px;
  }


  .homepage__hero .homepage__title{
    font-size: 6rem;
  }

  .homepage__hero .homepage__subtitle{
    font-size: 1.5rem;
  }

  .homepage__hero .homepage__button{
    padding: 15px 1.5rem

  }
  
}
