@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Great+Vibes&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Dancing Script', cursive;
  outline: none;
}

:root {
  
  --color-blue: #007BFF;       
  --color-yellow: gold;     
  --color-blueDark: #0d0c22;
  --color-green: #70e000;      
  --color-white: white;      
  --color-red: #FF4500;   
  --color-purple: #6f42c1; 
  --color-rose: #FF6EC7;
  
  
  --color-background: white;
  --color-primary: var(--color-blue);
  --color-button: var(--color-yellow);
  --color-success: var(--color-green);
  --color-error: var(--color-red);
}



body{
    background-color: var(--color-background);
    height: 100vh;
}



.header{
  padding: 0rem 12rem;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-self: center;
  align-items: center;
  position: fixed;
  gap: 35px;
  width: 100%;
  z-index: 999 !important;
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


.header__logo .header__title {
  font-size: 3em;
  background: linear-gradient(90deg, var(--color-blue), var(--color-green));
  font-family: 'Dancing Script', cursive;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;

}




.navbar{

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}

.info{
  display: flex;
  gap: 50px;
  border-radius: 1.8em;
  z-index: inherit;
}

.info a{
  font-family: 'Mona Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-blueDark);
  transition: .25s ease;
  display: flex;
  align-items: center;
  position: relative;
}

.info a::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-rose);
  bottom: -6px;
  border-radius: 5px;
  transition: width .3s ease;
}

.info a:hover::after{
  width: 100%;
}





.register__section{
  display: flex;
  justify-content: end;
  gap: 15px;
}

.register__section .btn__login{
  font-family: 'Mona Sans',sans-serif;
  font-size: 16px;
  background-color: var(--color-blue);
  color: white;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 2.1em;
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.4),
    0 2px 0 0 #60A5FA,   
    0 4px 0 0 #3B82F6,  
    0 6px 0 0 #2563EB,   
    0 8px 0 0 #1D4ED8,   
    0 8px 16px 0 rgba(59, 130, 246, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  will-change: transform, box-shadow; 
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}

.register__section .btn__login:hover{
  transform: translateY(4px);
   box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.4),
    0 1px 0 0 #60A5FA,
    0 2px 0 0 #3B82F6,
    0 3px 0 0 #2563EB,
    0 4px 0 0 #1D4ED8,
    0 4px 8px 0 rgba(59,130,246,0.5);
}


.register__section .btn__signup{
  font-family: 'Mona Sans', sans-serif;
  font-size: 16px;
  background-color: var(--color-green);
  color: white;
  font-weight: 600;
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.4),
    0 2px 0 0 #4ADE80,   
    0 4px 0 0 #22C55E,   
    0 6px 0 0 #16A34A,  
    0 8px 0 0 #15803D,   
    0 8px 16px 0 rgba(34, 197, 94, 0.5); 
  padding: 10px 50px;
  border-radius: 2.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  will-change: transform, box-shadow; 
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}

.register__section .btn__signup:hover{
  transform: translateY(4px);
   box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.4),
    0 1px 0 0 #4ADE80,
    0 2px 0 0 #22C55E,
    0 3px 0 0 #16A34A,
    0 4px 0 0 #15803D,
    0 4px 8px 0 rgba(34,197,94,0.5);
}




 


.homepage{
  height: 100%;
  display: relative;
}

.homepage .homepage__hero{
  height: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.homepage__hero__content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}



.homepage .homepage__title{
  font-size: 8rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1;

  text-align: left;
  color: var(--color-blueDark);
}



.homepage .homepage__title span{
  font-size: 7.5rem;
  background: linear-gradient(90deg, var(--color-blue), var(--color-green));
  font-family: 'Dancing Script', cursive;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage__info{
  display: flex;
  flex-direction: column;
}
.homepage .homepage__subtitle{
  font-size: 1.6rem;
  font-family: 'Poppins';;
  color: var(--color-blueDark);
}

.homepage .homepage__button{
  font-size: 1.4em;
  font-weight: 600;
  border-radius: 1.8em;
  background: var(--color-rose);
  margin-top: 20px;
  color: var(--color-white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.7em 2rem;
  font-family: 'Mona Sans', sans-serif;
  color: var(--color-white);
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.4),
    0 2px 0 0 var(--color-rose),
    0 4px 0 0 #FF1E50,
    0 6px 0 0 #FF7A95,
    0 8px 0 0 #FF6B88,
    0 8px 16px 0 rgba(255, 77, 109, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  will-change: transform, box-shadow; 
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}

.homepage .homepage__button:hover{
  transform: translateY(4px);
   box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.4),
    0 1px 0 0 var(--color-rose),
    0 2px 0 0 #FF1E50,
    0 3px 0 0 #FF7A95,
    0 4px 0 0 #FF6B88,
    0 4px 8px 0 rgba(255,77,109,0.5);
}



.features{
  height: 120vh;
}

.features__header{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.features__header .features__title{
  font-size: 3.5rem;
  font-family: 'Raleway', sans-serif;
  color: var(--color-blueDark);
}

.features__header .features__subtitle{
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color-blueDark);
}

.features__header .features__label{
  font-size: 1em;
  font-family: 'Mona Sans', sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
  
}

.features__header .features__label::after{
  content: '';
  position: absolute;
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: var(--color-rose);
  border-radius: 2px;
  z-index: -1;

}

.features__grid {
  width: 1300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 250px;
  background: radial-gradient(circle, var(--color-blue), var(--color-green));
  border-radius: 1.8em;
  margin: 0 auto;
  margin-top: 3rem;
  gap: 1.8rem; 
  padding: 2rem;
}

.feature {
  background-color: var(--color-blueDark);
  border-radius: 1.8em;
  display: flex;               /* para ver texto centrado */
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}


.feature1{
  grid-row: span 2; /* Ocupa 2 filas */
}

.feature2{
  grid-column: span 2; /* Ocupa 2 columnas */
}


.feature5{
  grid-column: span 2; /* Ocupa 2 columnas */
}






@media (max-width: 1750px) {
  .header{
    padding: .5em 2rem;
  }

  .header__logo .header__title{
    font-size: 3rem;
  }

  .navbar .nav__links{
    gap: 65px;
  }




  .homepage__hero .homepage__title{
    font-size: 4rem;
  }

  .homepage__hero .homepage__subtitle{
    font-size: 1.2rem;
  }

  .homepage__hero .homepage__button{
    padding: 17px 1.7rem;

  }

}


